body {
    margin: 0;
    }  
i {
        cursor: pointer;
    }
    
header {
        background-color: white;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        /* Align Items: center will align everything in this header on the vertical axis.  */
        align-items: center;
    }

main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    
#logo {
        width: 100px;
        margin-right: 100px;
    }
    
.home {
        width: 100px;
    }
    
#socials {
        width: 150px;
    }
    
main {
        height: 600px;
        background-color: rgb(105, 105, 105);
    }
    #box1 {
        height: 350px;
        width: 350px;
        background-image: url(clothes.jpg);
        background-size: cover;
        background-position: center;
        border: 5px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #box2 {
        height: 350px;
        width: 350px;
        background-image: url(shoes.jpg);
        background-size: cover;
        background-position: center;
        border: 5px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #box3 {
        height: 350px;
        width: 350px;
        background-image: url(hats.jpg);
        background-size: cover;
        background-position: center;
        border: 5px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

footer {
        height: 150px;
        background-color: rgb(10, 228, 199);
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
button {
        border: none;
        background: none;
    }
button:hover {
        transition: 1.5s;
        background-color: rgb(10, 228, 199);
        border-radius: 13px;
    }